@import "tailwindcss";

@theme {
  --color-esport-dark: #061125;
  --color-esport-primary: #29FF64;
  --color-esport-divider: rgba(114, 46, 209, 0.80);
  --shadow-navbar: 0 -2px 1.4px 0 rgba(255, 255, 255, 0.25) inset, 0 -2px 10.9px -9px #FFF inset, 0 4px 47.7px -28px rgba(41, 255, 100, 0.65);
  
  --animate-blink-live: blink 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
}

/* هذا الكود يجبر الخط على العمل */
body {
  font-family: var(--font-cairo), sans-serif;
  background-color: var(--color-esport-dark);
}
